@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #030712;
  --foreground: #f3f4f6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

html, body {
  height: 100%;
}
